rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /mepLibrary/{docId} {
      allow read: if true;
      allow create, update: if request.resource.data.schema == "mep-library-v1";
      allow delete: if true;
    }
    match /mepProjects/{projectId} {
      allow read: if true;
      allow create, update: if request.resource.data.schema == "mep-video-project";
      allow delete: if true;
    }
    match /mepCharacters/{characterId} {
      allow read: if true;
      allow create, update: if request.resource.data.schema == "mep-character-v1";
      allow delete: if true;
    }
    match /mepAnimations/{animationId} {
      allow read: if true;
      allow create, update: if request.resource.data.schema == "mep-animation-v1";
      allow delete: if true;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
